%tbody#cart_adjustments{"data-hook" => ""}
  - if @order.line_item_adjustments.exists?
    - @order.line_item_adjustments.promotion.eligible.group_by(&:label).each do |label, adjustments|
      = render "spree/orders/adjustment_row", label: label, adjustments: adjustments, type: t('spree.promotion')
  - @order.all_adjustments.tax.eligible.group_by(&:label).each do |label, adjustments|
    = render "spree/orders/adjustment_row", label: label, adjustments: adjustments, type: t('spree.tax')
  - @order.shipments.each do |shipment|
    %tr
      %td{:align => "right", :colspan => "4"}
        %h5.has-text-right
          = t('spree.shipping')
          \: #{shipment.shipping_method.name}
      %td{:colspan => "2"}
        %h5.has-text-right= shipment.display_total_before_tax
  - @order.adjustments.eligible.group_by(&:label).each do |label, adjustments|
    = render "spree/orders/adjustment_row", label: label, adjustments: adjustments, type: t('spree.adjustment')
