%fieldset#order_summary{"data-hook" => ""}
  %legend= t('spree.order_number', number: @order.number)
  %h1.title.has-text-centered= accurate_title

  - if order_just_completed?(@order)
    %strong= t('spree.thank_you_for_your_order')

  #order{"data-hook" => ""}
    = render partial: 'spree/shared/order_details', locals: { order: @order }
    %br.clear/
    %p{"data-hook" => "links"}
      = link_to t('spree.back_to_store'), spree.root_path, class: "button"
      - unless order_just_completed?(@order)
        - if try_spree_current_user && respond_to?(:account_path)
          = link_to t('spree.my_account'), spree.account_path, class: "button"
