#checkout
  = render partial: 'spree/shared/error_messages', locals: { target: @order }

  %h1.title.has-text-centered= t('spree.checkout')

  = checkout_progress

  .columns
    - if @order.state == 'confirm'
      .column.is-12
        = form_for @order, url: update_checkout_path(@order.state), html: { id: "checkout_form_#{@order.state}" } do |form|
          - if @order.state == 'address' || !@order.email?
            .columns
              .column.is-6
                .field.field-required{style: "clear: both"}
                  = form.label :email, class: 'label'
                  %p.control
                    = form.email_field :email, required: true, class: 'input required'
          = render @order.state, form: form
    - else
      .column.is-10
        = form_for @order, url: update_checkout_path(@order.state), html: { id: "checkout_form_#{@order.state}" } do |form|
          - if @order.state == 'address' || !@order.email?
            .columns
              .column.is-6
                .field.field-required{style: "clear: both"}
                  = form.label :email, class: 'label'
                  %p.control
                    = form.email_field :email, required: true, class: 'input required'
          = render @order.state, form: form

      .column.is-2.box#checkout-summary
        = render partial: 'summary', locals: { order: @order }

:javascript
  Spree.current_order_id = "#{@order.number}"
  Spree.current_order_token = "#{@order.guest_token}"
