%h1.title.taxon-title= @taxon.name
- content_for :sidebar do
  = render partial: 'spree/shared/taxonomies'
  = render partial: 'spree/shared/filters' if @taxon.children.empty?

= render partial: 'spree/shared/products', locals: { products: @products, taxon: @taxon }

- if @taxon.children.any?
  %hr/

- unless params[:keywords].present?
  - cache [I18n.locale, @taxon] do
    = render partial: 'taxon', collection: @taxon.children
